##
## New Sites copy .env.example to .env
## $ php artisan key:generate
## $ php artisan passport:keys
##

##
## App config
##
APP_NAME=NameChangr
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

##
## Database configuration
## required
##
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=namechangr
DB_USERNAME=root
DB_PASSWORD=

##
## System drivers
## local drivers for development
##
BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
LOG_CHANNEL=stack
MAIL_DRIVER=log
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

##
## Event Notification Email
## for user registered and application generated events
## and other admin notifiable events
##
ADMIN_NOTIFICATION_EMAIL=

##
## AWS filesystem
## not used locally
##
#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#AWS_DEFAULT_REGION= # http://laravelcoding.com/blog/laravel-5-beauty-upload-manager#11-s3-act-4
#AWS_BUCKET=
#AWS_KEYS_BUCKET= # bucket for deployment to heroku to get passport keys

##
## Outgoing mail config
## set driver to 'smtp' to use
##
#MAIL_HOST=smtp.mailtrap.io
#MAIL_PORT=2525
#MAIL_USERNAME=null
#MAIL_PASSWORD=null
#MAIL_ENCRYPTION=null

##
## not used
##
#PUSHER_APP_ID=
#PUSHER_APP_KEY=
#PUSHER_APP_SECRET=
#PUSHER_APP_CLUSTER=mt1
#MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
#MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

##
## Social Sign On
## for local use of this functionality you need to expose your application
## to the internet and get keys for each SSO provider you want to use.
##
FACEBOOK_SSO_ENABLED=false
#FACEBOOK_APP_ID=
#FACEBOOK_SECRET=
#FACEBOOK_REDIRECT_URL=http://www.namechangr.local/auth/facebook/callback

TWITTER_SSO_ENABLED=false
#TWITTER_APP_ID=
#TWITTER_SECRET=
#TWITTER_REDIRECT_URL=http://www.namechangr.local/auth/twitter/callback

##
## Human Verification
## required for generating applications
## recaptcha v2 checkbox https://www.google.com/recaptcha
##
RECAPTCHA_ENABLED=false
#RECAPTCHA_PUBLIC_KEY=
#RECAPTCHA_PRIVATE_KEY=
